.heading_rectangle {
    position: absolute;
    width: 380px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #C3C3C3;
}

.heading_image {
    position: absolute;
    left: 43.68%;
    right: 43.42%;
    top: 16.67%;
    bottom: 15%;
}

.inner_rectangle {
    position: absolute;
    width: 340px;
    height: 404px;
    left: 20px;
    top: 90px;
}

.main_content {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 0%;
    background: #FFFFFF;
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
}

.bottom_rectangle {
    position: absolute;
    top: 524px;
    width: 380px;
    height: 60px;
    left: 0px;
    background: #FFFFFF;
    border-top: 1px solid #C3C3C3;
}

.main_heading_noDetect {
    margin-bottom: 70px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #1D6FB0;
    display: inline-block;
}

.main_heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #1D6FB0;
    display: inline-block;
}

.aligned_heading {
    text-align: center;
}

.resolved_button {
    width: 25%;
    margin: 0%;
    float: left;
    text-align: center;
    background-color: #1D6FB0 !important;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 10px; 
    padding: 6px 12px;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    color: #1D6FB0;
    display: inline-block;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 33px;
    color: #1D6FB0;
    display: inline-block;
}

input[type=text] {
  width: 300px;
  border: none;
  border-bottom: 2px solid #1D6FB0;
  font-size: 12px;
  color: #1D6FB0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1D6FB0 !important;
}

.center_button {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.center_button_resolve {
    margin-top: 50px;
    text-align: center;
}

.custom_did_entry {
    margin-left: 18px;
}

.custom_or {
    text-align: center;
}

.nav_image_base {
    margin-top: 10px;
    margin-left: 95px
}

.nav_image_history {
    margin-top: 4px;
    margin-left: 140px;
}